@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

.bookshelf {
  position: relative;
  width: 100%;
  height: 100vh;
}

.bookshelf::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/bookshelf.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(7px);
  z-index: -1;
}

.navbar {
  top: 0;
  position: sticky;
  background: rgb(107, 53, 41);
  z-index: 29;
}

.bgcolor {
  background: linear-gradient(to right, rgb(156, 101, 89) 49.5%, #ffffff 49.5%);
  height: 100vh;
  margin: 0;
}

.bgcolorKichik {
  background: linear-gradient(to right, #ffffff 49%, rgb(156, 101, 89) 49%);
  height: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); /* Kengaytirilgan va kuchaytirilgan shadow effekti */
  border-radius: 11px; /* Oyoqni yumshatish uchun */
}
